<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<!--<![endif]-->

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>Remos eCommerce Admin Dashboard HTML Template</title>

    <meta الاسم="author" content="themesflat.com">

    <!-- Mobile Specific Metas -->
    <meta الاسم="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="css/animation.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">



    <!-- Font -->
    <link rel="stylesheet" href="font/fonts.css">

    <!-- Icon -->
    <link rel="stylesheet" href="icon/style.css">

    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" href="images/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="images/favicon.png">

</head>

<body class="body">

    <!-- #wrapper -->
    <div id="wrapper">
        <!-- #page -->
        <div id="page" class="">
            <!-- layout-wrap -->
            <div class="layout-wrap">
                <!-- preload -->
                <div id="preload" class="preload-container">
                    <div class="preloading">
                        <span></span>
                    </div>
                </div>
                <!-- /preload -->
                <!-- section-menu-left -->
                <div class="section-menu-left">
                    <div class="box-logo">
                        <a href="index.html" id="site-logo-inner">
                            <img class="" alt="" src="" data-light="" data-dark="">
                        </a>
                        <div class="button-show-hide">
                            <i class="icon-menu-left"></i>
                        </div>
                    </div>
                    <div class="section-menu-left">
                        <div class="box-logo">
                            <a href="index.html" id="site-logo-inner">
                                <img class="" alt="" src="" data-light="" data-dark="">
                            </a>
                            <div class="button-show-hide">
                                <i class="icon-menu-left"></i>
                            </div>
                        </div>
                        <div class="section-menu-left-wrap">
                            <div class="center">
                                <div class="center-item">
                                    <div class="center-heading">الرئيسية </div>
                                    <ul class="menu-list">
                                        <li class="menu-item has-children ">
                                            <a href="javascript:void(0);" class="menu-item-button">
                                                <div class="icon"><i class="icon-grid"></i></div>
                                                <div class="text">لوحة التحكم </div>
                                            </a>
                                            <ul class="sub-menu" style="display: block;">
                                                <li class="sub-menu-item">
                                                    <a href="index.html" class="">
                                                        <div class="text">الرئيسية</div>
                                                    </a>
                                                </li>

                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="center-item">
                                    <div class="center-heading">التحكمات</div>
                                    <ul class="menu-list">
                                        <li class="menu-item has-children ">
                                            <a href="javascript:void(0);" class="menu-item-button">
                                                <div class="icon"><i class="icon-shopping-cart"></i></div>
                                                <div class="text">المتجر</div>
                                            </a>
                                            <ul class="sub-menu">
                                                <li class="sub-menu-item">
                                                    <a href="add-product.html" class="">
                                                        <div class="text">اضافة منتج</div>
                                                    </a>
                                                </li>
                                                <li class="sub-menu-item">
                                                    <a href="product-list.html" class="">
                                                        <div class="text">المنتجات</div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item has-children active">
                                            <a href="javascript:void(0);" class="menu-item-button">
                                                <div class="icon"><i class="icon-file-plus"></i></div>
                                                <div class="text">الطلبات</div>
                                            </a>
                                            <ul class="sub-menu">
                                                <li class="sub-menu-item">
                                                    <a href="oder-list.html" class="active">
                                                        <div class="text">الطلبات المرسلة</div>
                                                    </a>
                                                </li>
                                                <li class="sub-menu-item">
                                                    <a href="oder-tracking.html" class="">
                                                        <div class="text">تتبع الطلب</div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /section-menu-left -->
                <!-- section-content-right -->
                <div class="section-content-right">
                    <!-- header-dashboard -->
                    <div class="header-dashboard">
                        <div class="wrap">
                            <div class="header-left">

                                <div class="button-show-hide">
                                    <i class="icon-menu-left"></i>
                                </div>
                                <form class="form-search flex-grow">


                                </form>
                            </div>
                            <div class="header-grid">
                                <div class="header-item button-dark-light">
                                    <i class="icon-moon"></i>
                                </div>
                                <div class="popup-wrap noti type-header">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                            id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="header-item">
                                                <span class="text-tiny">1</span>
                                                <i class="icon-bell"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                                <div class="header-item button-zoom-maximize">
                                    <div class="">
                                        <i class="icon-maximize"></i>
                                    </div>
                                </div>
                                <div class="popup-wrap user type-header">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                            id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="header-user wg-user">
                                                <span class="image">
                                                    <img src="images/avatar/user-1.png" alt="">
                                                </span>
                                                <span class="flex flex-column">
                                                    <span class="body-title mb-2">Carag</span>
                                                    <span class="text-tiny">vendor</span>
                                                </span>
                                            </span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end has-content"
                                            aria-labelledby="dropdownMenuButton3">
                                            <li>
                                                <a href="login.html" class="user-item">
                                                    <div class="icon">
                                                        <i class="icon-log-out"></i>
                                                    </div>
                                                    <div class="body-title-2">Log out</div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /header-dashboard -->
                    <!-- main-content -->
                    <div class="main-content">
                        <!-- main-content-wrap -->
                        <div class="main-content-inner">
                            <!-- main-content-wrap -->
                            <div class="main-content-wrap">
                                <div class="flex items-center flex-wrap justify-between gap20 mb-27">
                                    <h3>Order #123783</h3>
                                </div>
                                <!-- order-detail -->
                                <div class="wg-order-detail">
                                    <div class="left flex-grow">
                                        <div class="wg-box mb-20">
                                            <div class="wg-table table-order-detail">
                                                <ul class="table-title flex items-center justify-between gap20 mb-24">
                                                    <li>
                                                        <div class="body-title">كل الطلبات</div>
                                                    </li>
                                                    <li>
                                                        <div class="dropdown default">
                                                            <button class="btn btn-secondary dropdown-toggle"
                                                                type="button" data-bs-toggle="dropdown"
                                                                aria-haspopup="true" aria-expanded="false">
                                                                <span
                                                                    class="body-title-2 flex items-center gap8">ترتيب<i
                                                                        class="h6 icon-chevron-down"></i></span>
                                                            </button>
                                                            <ul class="dropdown-menu">
                                                                <li>
                                                                    <a href="javascript:void(0);">الاسم</a>
                                                                </li>
                                                                <li>
                                                                    <a href="javascript:void(0);">العدد</a>
                                                                </li>
                                                                <li>
                                                                    <a href="javascript:void(0);">السعر</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <ul class="flex flex-column">
                                                    <li class="product-item gap14">
                                                        <div class="image no-bg">
                                                            <img src="images/products/41.png" alt="">
                                                        </div>
                                                        <div class="flex items-center justify-between gap40 flex-grow">
                                                            <div class="الاسم">
                                                                <div class="text-tiny mb-1">اسم المنتج</div>
                                                                <a href="product-list.html" class="body-title-2">Kristin
                                                                    Watson</a>
                                                            </div>
                                                            <div class="الاسم">
                                                                <div class="text-tiny mb-1">العدد</div>
                                                                <div class="body-title-2">1</div>
                                                            </div>
                                                            <div class="الاسم">
                                                                <div class="text-tiny mb-1">السعر</div>
                                                                <div class="body-title-2">$50.47</div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="product-item gap14">
                                                        <div class="image no-bg">
                                                            <img src="images/products/44.png" alt="">
                                                        </div>
                                                        <div class="flex items-center justify-between gap40 flex-grow">
                                                            <div class="الاسم">
                                                                <div class="text-tiny mb-1">اسم المنتج</div>
                                                                <a href="product-list.html" class="body-title-2">Kristin
                                                                    Watson</a>
                                                            </div>
                                                            <div class="الاسم">
                                                                <div class="text-tiny mb-1">العدد</div>
                                                                <div class="body-title-2">1</div>
                                                            </div>
                                                            <div class="الاسم">
                                                                <div class="text-tiny mb-1">السعر</div>
                                                                <div class="body-title-2">$50.47</div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="product-item gap14">
                                                        <div class="image no-bg">
                                                            <img src="images/products/43.png" alt="">
                                                        </div>
                                                        <div class="flex items-center justify-between gap40 flex-grow">
                                                            <div class="الاسم">
                                                                <div class="text-tiny mb-1">اسم المنتج</div>
                                                                <a href="product-list.html" class="body-title-2">Kristin
                                                                    Watson</a>
                                                            </div>
                                                            <div class="الاسم">
                                                                <div class="text-tiny mb-1">العدد</div>
                                                                <div class="body-title-2">1</div>
                                                            </div>
                                                            <div class="الاسم">
                                                                <div class="text-tiny mb-1">السعر</div>
                                                                <div class="body-title-2">$50.47</div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="wg-box">
                                            <div class="wg-table table-cart-totals">
                                                <ul class="table-title flex mb-24">
                                                    <li>
                                                        <div class="body-title">Cart Totals</div>
                                                    </li>
                                                    <li>
                                                        <div class="body-title">السعر</div>
                                                    </li>
                                                </ul>
                                                <ul class="flex flex-column gap14">
                                                    <li class="divider"></li>
                                                    <li class="cart-totals-item">
                                                        <span class="body-title">Total السعر:</span>
                                                        <span class="body-title tf-color-1">$90.58</span>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right">
                                        <div class="wg-box mb-20 gap10">
                                            <div class="body-title">الملخص</div>
                                            <div class="summary-item">
                                                <div class="body-text">رقم المنتج</div>
                                                <div class="body-title-2">#192847</div>
                                            </div>
                                            <div class="summary-item">
                                                <div class="body-text">تاريخ الطلب</div>
                                                <div class="body-title-2">20 Nov 2023</div>
                                            </div>
                                            <div class="summary-item">
                                                <div class="body-text">الاجمالي</div>
                                                <div class="body-title-2 tf-color-1">$948.5</div>
                                            </div>
                                        </div>
                                        <div class="wg-box mb-20 gap10">
                                            <div class="body-title">عنوان التوصيل</div>
                                            <div class="body-text">3517 W. Gray St. Utica, Pennsylvania 57867</div>
                                        </div>
                                        <div class="wg-box gap10">
                                            <div class="body-title">تاريخ التوصيل</div>
                                            <div class="body-title-2 tf-color-2">20 Nov 2023</div>
                                            <a class="tf-button style-1 w-full" href="oder-tracking.html"><i
                                                    class="icon-truck"></i>Track order</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- /order-detail -->
                            </div>
                            <!-- /main-content-wrap -->
                        </div>
                        <!-- /main-content-wrap -->
                        <!-- bottom-page -->
              
                        <!-- /bottom-page -->
                    </div>
                    <!-- /main-content -->
                </div>
                <!-- /section-content-right -->
            </div>
            <!-- /layout-wrap -->
        </div>
        <!-- /#page -->
    </div>
    <!-- /#wrapper -->

    <!-- Javascript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-select.min.js"></script>
    <script src="js/zoom.js"></script>
    <!-- <script src="js/switcher.js"></script> -->
    <script src="js/theme-settings.js"></script>
    <script src="js/main.js"></script>

</body>

</html>