<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<!--<![endif]-->

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>Remos eCommerce Admin Dashboard HTML Template</title>

    <meta name="author" content="themesflat.com">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="css/animation.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">



    <!-- Font -->
    <link rel="stylesheet" href="font/fonts.css">

    <!-- Icon -->
    <link rel="stylesheet" href="icon/style.css">

    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" href="images/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="images/favicon.png">

</head>

<body class="body">

    <!-- #wrapper -->
    <div id="wrapper">
        <!-- #page -->
        <div id="page" class="">
            <!-- layout-wrap -->
           <div class="layout-wrap">
                <!-- preload -->
                <div id="preload" class="preload-container">
                    <div class="preloading">
                        <span></span>
                    </div>
                </div>
                <!-- /preload -->
                <!-- section-menu-left -->
                <div class="section-menu-left">
                    <div class="box-logo">
                        <a href="index.html" id="site-logo-inner">
                            <img class="" alt="" src="" data-light="" data-dark="">
                        </a>
                        <div class="button-show-hide">
                            <i class="icon-menu-left"></i>
                        </div>
                    </div>
                    <div class="section-menu-left">
                        <div class="box-logo">
                            <a href="index.html" id="site-logo-inner">
                                <img class="" alt="" src="" data-light="" data-dark="">
                            </a>
                            <div class="button-show-hide">
                                <i class="icon-menu-left"></i>
                            </div>
                        </div>
                        <div class="section-menu-left-wrap">
                            <div class="center">
                                <div class="center-item">
                                    <div class="center-heading">الرئيسية </div>
                                    <ul class="menu-list">
                                        <li class="menu-item has-children ">
                                            <a href="javascript:void(0);" class="menu-item-button">
                                                <div class="icon"><i class="icon-grid"></i></div>
                                                <div class="text">لوحة التحكم </div>
                                            </a>
                                            <ul class="sub-menu" style="display: block;">
                                                <li class="sub-menu-item">
                                                    <a href="index.html" class="">
                                                        <div class="text">الرئيسية</div>
                                                    </a>
                                                </li>

                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="center-item">
                                    <div class="center-heading">التحكمات</div>
                                    <ul class="menu-list">
                                        <li class="menu-item has-children ">
                                            <a href="javascript:void(0);" class="menu-item-button">
                                                <div class="icon"><i class="icon-shopping-cart"></i></div>
                                                <div class="text">المتجر</div>
                                            </a>
                                            <ul class="sub-menu">
                                                <li class="sub-menu-item">
                                                    <a href="add-product.html" class="">
                                                        <div class="text">اضافة منتج</div>
                                                    </a>
                                                </li>
                                                <li class="sub-menu-item">
                                                    <a href="product-list.html" class="">
                                                        <div class="text">المنتجات</div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item has-children active">
                                            <a href="javascript:void(0);" class="menu-item-button">
                                                <div class="icon"><i class="icon-file-plus"></i></div>
                                                <div class="text">الطلبات</div>
                                            </a>
                                            <ul class="sub-menu">
                                                <li class="sub-menu-item">
                                                    <a href="oder-list.html" class="">
                                                        <div class="text">الطلبات المرسلة</div>
                                                    </a>
                                                </li>
                                                <li class="sub-menu-item">
                                                    <a href="oder-tracking.html" class="active">
                                                        <div class="text">تتبع الطلب</div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /section-menu-left -->
                <!-- section-content-right -->
                <div class="section-content-right">
                    <!-- header-dashboard -->
                    <div class="header-dashboard">
                        <div class="wrap">
                            <div class="header-left">

                                <div class="button-show-hide">
                                    <i class="icon-menu-left"></i>
                                </div>
                                <form class="form-search flex-grow">


                                </form>
                            </div>
                            <div class="header-grid">
                                <div class="header-item button-dark-light">
                                    <i class="icon-moon"></i>
                                </div>
                                <div class="popup-wrap noti type-header">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                            id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="header-item">
                                                <span class="text-tiny">1</span>
                                                <i class="icon-bell"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                                <div class="header-item button-zoom-maximize">
                                    <div class="">
                                        <i class="icon-maximize"></i>
                                    </div>
                                </div>
                                <div class="popup-wrap user type-header">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                            id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="header-user wg-user">
                                                <span class="image">
                                                    <img src="images/avatar/user-1.png" alt="">
                                                </span>
                                                <span class="flex flex-column">
                                                    <span class="body-title mb-2">Carag</span>
                                                    <span class="text-tiny">vendor</span>
                                                </span>
                                            </span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end has-content"
                                            aria-labelledby="dropdownMenuButton3">
                                            <li>
                                                <a href="login.html" class="user-item">
                                                    <div class="icon">
                                                        <i class="icon-log-out"></i>
                                                    </div>
                                                    <div class="body-title-2">Log out</div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /header-dashboard -->
                    <!-- main-content -->
                    <div class="main-content">
                        <!-- main-content-wrap -->
                        <div class="main-content-inner">
                            <!-- main-content-wrap -->
                            <div class="main-content-wrap">
                                <div class="flex items-center flex-wrap justify-between gap20 mb-27">
                                    <h3>Track Order</h3>
                                    <ul class="breadcrumbs flex items-center flex-wrap justify-start gap10">
                                        <li>
                                            <a href="index.html"><div class="text-tiny">Dashboard</div></a>
                                        </li>
                                        <li>
                                            <i class="icon-chevron-right"></i>
                                        </li>
                                        <li>
                                            <a href="#"><div class="text-tiny">Order</div></a>
                                        </li>
                                        <li>
                                            <i class="icon-chevron-right"></i>
                                        </li>
                                        <li>
                                            <div class="text-tiny">Track Order</div>
                                        </li>
                                    </ul>
                                </div>
                                <!-- order-track -->
                                <div class="wg-box mb-20">
                                    <div class="order-track">
                                        <div class="image">
                                            <img src="images/images-section/track-oder-1.png" alt="">
                                        </div>
                                        <div class="content">
                                            <h5 class="mb-20">Pouch Pocket Hoodie Orange</h5>
                                            <div class="infor mb-10">
                                                <div class="body-text">Order ID</div>
                                                <div class="body-title-2">#192847</div>
                                            </div>
                                            <div class="infor mb-10">
                                                <div class="body-text">Brand:</div>
                                                <div class="body-title-2">20 Nov 2023</div>
                                            </div>
                                            <div class="infor mb-10">
                                                <div class="body-text">Order Placed:</div>
                                                <div class="body-title-2">20 Nov 2023</div>
                                            </div>
                                            <div class="infor mb-20">
                                                <div class="body-text">Quantity:</div>
                                                <div class="body-title-2">1</div>
                                            </div>
                                            <div class="flex gap10 flex-wrap">
                                                <a class="tf-button style-1 w230" href="product-list.html">View shop</a>
                                                <a class="tf-button w230" href="product-list.html">View product</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /order-track -->
                                <!-- detail -->
                                <div class="wg-box mb-20">
                                    <div>
                                        <h6 class="mb-10">Detail</h6>
                                        <div class="body-text">Your items is on the way. Tracking information will be available within 24 hours.</div>
                                    </div>
                                    <div class="road-map">
                                        <div class="road-map-item active">
                                            <div class="icon"><i class="icon-check"></i></div>
                                            <h6>Receiving orders</h6>
                                            <div class="body-text">05:43 AM</div>
                                        </div>
                                        <div class="road-map-item active">
                                            <div class="icon"><i class="icon-check"></i></div>
                                            <h6>Order processing</h6>
                                            <div class="body-text">01:21 PM</div>
                                        </div>
                                        <div class="road-map-item active">
                                            <div class="icon"><i class="icon-check"></i></div>
                                            <h6>Being delivered</h6>
                                            <div class="body-text">Processing</div>
                                        </div>
                                        <div class="road-map-item">
                                            <div class="icon"><i class="icon-check"></i></div>
                                            <h6>Delivered</h6>
                                            <div class="body-text">Pending</div>
                                        </div>
                                    </div>

                                </div>
                                <!-- /detail -->
                                <!-- table -->
                                <div class="wg-box">
                                    <div class="wg-table table-order-track">
                                        <ul class="table-title flex mb-24 gap20">
                                            <li>
                                                <div class="body-title">Date</div>
                                            </li>    
                                            <li>
                                                <div class="body-title">Time</div>
                                            </li>    
                                            <li>
                                                <div class="body-title">Description</div>
                                            </li>   
                                            <li>
                                                <div class="body-title">Location</div>
                                            </li>   
                                        </ul>
                                        <ul class="flex flex-column gap14">
                                            <li class="cart-totals-item">
                                                <div class="body-text">20 Nov 2023</div>
                                                <div class="body-text">2:30 PM</div>
                                                <div class="body-text">The sender is preparing the goods</div>
                                                <div class="body-text">2715 Ash Dr. San Jose, South Dakota 83475</div>
                                            </li>
                                            <li class="divider"></li>
                                            <li class="cart-totals-item">
                                                <div class="body-text">20 Nov 2023</div>
                                                <div class="body-text">01:00 PM</div>
                                                <div class="body-text">The order has arrived at the post office</div>
                                                <div class="body-text">3517 W. Gray St. Utica, Pennsylvania 57867</div>
                                            </li>
                                            <li class="divider"></li>
                                            <li class="cart-totals-item">
                                                <div class="body-text">21 Nov 2023</div>
                                                <div class="body-text">03:58 AM</div>
                                                <div class="body-text">The carrier is picking up the goods</div>
                                                <div class="body-text">1901 Thornridge Cir. Shiloh, Hawaii 81063</div>
                                            </li>
                                            <li class="divider"></li>
                                            <li class="cart-totals-item">
                                                <div class="body-text">22 Nov 2023</div>
                                                <div class="body-text">06:26 PM</div>
                                                <div class="body-text">The order has been shipped</div>
                                                <div class="body-text">4140 Parker Rd. Allentown, New Mexico 31134</div>
                                            </li>
                                            <li class="divider"></li>
                                            <li class="cart-totals-item">
                                                <div class="body-text">22 Nov 2023</div>
                                                <div class="body-text">03:45 PM</div>
                                                <div class="body-text">Your order will be delivered to you in 30 minutes</div>
                                                <div class="body-text">8502 Preston Rd. Inglewood, Maine 98380</div>
                                            </li>
                                            <li class="divider"></li>
                                            <li class="cart-totals-item">
                                                <div class="body-text">23 Nov 2023</div>
                                                <div class="body-text">12:21 AM</div>
                                                <div class="body-text">The order has been delivered successfully</div>
                                                <div class="body-text">3891 Ranchview Dr. Richardson, California 62639</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- /table -->
                            </div>
                            <!-- /main-content-wrap -->
                        </div>
                        <!-- /main-content-wrap -->
                        <!-- bottom-page -->

                        <!-- /bottom-page -->
                    </div>
                    <!-- /main-content -->
                </div>
                <!-- /section-content-right -->
            </div>
            <!-- /layout-wrap -->
        </div>
        <!-- /#page -->
    </div>
    <!-- /#wrapper -->

    <!-- Javascript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-select.min.js"></script>
    <script src="js/zoom.js"></script>
    <!-- <script src="js/switcher.js"></script> -->
    <script src="js/theme-settings.js"></script>
    <script src="js/main.js"></script>

</body>

</html>